# PHP
# Test and package your PHP project.
# Add steps that run tests, save build artifacts, deploy, and more:
# https://docs.microsoft.com/azure/devops/pipelines/languages/php

trigger:
- main

pool:
  vmImage: 'ubuntu-latest'
  
variables:
  phpVersion: 8.1

steps:

- task: FtpUpload@2
  inputs:
    credentialsOption: 'inputs'
    serverUrl: 'FTP://$(ftpLink)'
    username: '$(ftpUser)'
    password: '$(ftpPassword)'
    rootDirectory: '_PTPAC_DevOpsDemo/src'
    filePatterns: '**'
    remoteDirectory: 'src'
    clean: false
    cleanContents: false
    preservePaths: false
    trustSSL: true
